In [1]:
import pandas as pd
import pprint as pp

In [2]:
# Read Algo input csv
Algo_input = pd.read_csv("Algo_data_input.csv")
Algo_input

    living_wage  income    debt  time_to_repay decision
0         33957   65383   57061       6.052419      Yes
1         24614   40961   50246      10.245713       No
2         29182   57060  129921      15.534472       No
3         34653  104308   53405       2.555691      Yes
4         30235   64336  100071       9.781825      Yes
5         24214   48841   56406       7.634710      Yes
6         32013   70617   54783       4.730339      Yes
7         32392  130567   73516       2.496087      Yes
8         25761   51612   48325       6.231223      Yes
9         29411   47528   13911       2.559475      Yes
10        26481   25284   87263    -243.004734       No
11        25270   82135   69783       4.090565      Yes
12        32625  136847   66710       2.133587      Yes
13        34412  112803   23080       0.981405      Yes
14        26567  120408   36852       1.309023      Yes
15        24488   35970  143810      41.749405       No
16        27603  108029   32739       1.356900      Yes
17        30942   71764   56071       4.578495      Yes
18        25950   74559   93300       6.397992      Yes
19        25373  114390   23053       0.863243      Yes
20        22141   54146  127895      13.320315       No
21        24256   29433   24605      15.842509       No
22        27144   98380  145046       6.787111      Yes
23        27570   47181   14234       2.419390      Yes
24        30428  110977   37194       1.539187      Yes
25        24022  117340   37891       1.353472      Yes
26        31744   57296   83481      10.890341       No
27        32657   29096   61380     -57.455771       No
28        30001   55676   89808      11.659591       No
29        24890  131794   74525       2.323736      Yes
30        28615   72990   35389       2.658329      Yes
31        27219  101217   37976       1.710677      Yes
32        22682   27839  112167      72.501454       No
33        24312   64971   78910       6.469252      Yes
34        34973   55596  129384      20.912573       No
35        35040   25532   90645     -31.778502       No
36        32855  104099  107551       5.032049      Yes
37        34910  107440  147771       6.791259      Yes
38        31172   39408   71072      28.764773       No
39        33027   68777  104822       9.773613      Yes
40        32230  101050   24419       1.182747      Yes
41        25910  124379  114004       3.859218      Yes
42        29302   60450   81241       8.694084      Yes
43        27708   69349  138052      11.050967       No
44        25445   66404   75323       6.129951      Yes
45        24634   36471   49958      14.068317       No
46        29836   55112  130712      17.237960       No
47        34871   89249  112578       6.900953      Yes
48        29444   34260   87637      60.656838       No
49        26033   31709  115474      67.814188       No

In [3]:
target = Algo_input["decision"]
target_names = ["Yes", "No"]

In [4]:
data = Algo_input.drop(["decision","time_to_repay"], axis=1)
feature_names = data.columns
data.head()

   living_wage  income    debt
0        33957   65383   57061
1        24614   40961   50246
2        29182   57060  129921
3        34653  104308   53405
4        30235   64336  100071

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

# Model Accuracy
# print('Test Acc: %.3f' % model.score(X_test, y_test))

# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

         Yes       1.00      0.75      0.86         4
          No       0.90      1.00      0.95         9

    accuracy                           0.92        13
   macro avg       0.95      0.88      0.90        13
weighted avg       0.93      0.92      0.92        13

In [10]:
def Classify(State,Major_Category,Debt):
    import pymongo

    # Create connection variable
    conn = 'mongodb://localhost:27017'

    # Pass connection to the pymongo instance.
    dbconn = pymongo.MongoClient(conn)

    # Connect to a database. Will create one if not already available.
    db = dbconn.FortunEd

    Major_data = db.Majors.find_one({"Major_Category":Major_Category})

    Income_dict = {}
    for data in Major_data["Possible_Occupations"]:
        Occ = data["Occupation"]
        income_split =data["Median_Occ_Salary"].split(",")
        income = ''.join(map(str, income_split))
        low_25_income_split =data['Low_25_Occ_Salary'].split(",")
        low_25_pct_income = ''.join(map(str, low_25_income_split))
        recommended_ed = data['Recommended_Education']
        high_25_income_split = data['High_25_Occ_Salary'].split(",")
        high_25_pct_income =''.join(map(str, high_25_income_split)) 
        Income_dict[Occ] ={"Occ":Occ,
                          "median_income":int(income),
                          "low_25_pct_income":int(low_25_pct_income),
                          "high_25_pct_income":int(high_25_pct_income),
                          "recommended_education":recommended_ed}
                           

    state_wages = db.StateWage

    state_wage_list = []
    state_wage_list = list(state_wages.find())
    result_values = [i[State] for i in state_wage_list if State in i]
    result =result_values[0]
    living_wage_split = result['living wage'].split("$")[1].split(",")
    wage_join =pd.to_numeric(''.join(map(str, living_wage_split)),errors='coerce')  



    output_df = pd.DataFrame(Income_dict.values())
    output_df.columns = ["Occupation","Median_Income","Low_25_pct_income","High_25_pct_income","Recommended_Education"]
    output_df["debt"] = Debt
    output_df["living_wage"] = wage_join
    output_df["major_category"] = Major_Category

    X = output_df.loc[:,["living_wage","Median_Income","debt"]]

    predictions = model.predict(X)
  
    output_df["decision"] = predictions
    outcome = output_df.to_dict("records")
    return output_df

Classify("Alaska","Agriculture & Natural Resources",1)

,Occupation,Median_Income,Low_25_pct_income,High_25_pct_income,Recommended_Education,debt,living_wage,major_category,decision
0,"First-Line Supervisors of Farming, Fishing, an...",48280,36940,64000,High school diploma or equivalent,1,26528,Agriculture & Natural Resources,Yes
1,Agricultural Inspectors,45490,33960,56340,Bachelor's degree,1,26528,Agriculture & Natural Resources,Yes
2,Animal Breeders,42920,31730,56750,High school diploma or equivalent,1,26528,Agriculture & Natural Resources,Yes
3,"Graders and Sorters, Agricultural Products",25670,23390,29370,No formal educational credential,1,26528,Agriculture & Natural Resources,No
4,Agricultural Equipment Operators,31950,26410,38730,No formal educational credential,1,26528,Agriculture & Natural Resources,Yes
5,"Farmworkers and Laborers, Crop, Nursery, and G...",25440,23920,29780,No formal educational credential,1,26528,Agriculture & Natural Resources,No
6,"Farmworkers, Farm, Ranch, and Aquacultural Ani...",27830,22580,35420,No formal educational credential,1,26528,Agriculture & Natural Resources,Yes
7,"Agricultural Workers, All Other",29590,23910,39820,No formal educational credential,1,26528,Agriculture & Natural Resources,Yes
8,Forest and Conservation Workers,31770,25430,36420,High school diploma or equivalent,1,26528,Agriculture & Natural Resources,Yes
9,Fallers,44650,35350,61820,High school diploma or equivalent,1,26528,Agriculture & Natural Resources,Yes
10,Logging Equipment Operators,41440,32070,51170,High school diploma or equivalent,1,26528,Agriculture & Natural Resources,Yes
11,Log Graders and Scalers,37280,29600,46960,High school diploma or equivalent,1,26528,Agriculture & Natural Resources,Yes
12,"Logging Workers, All Other",39780,32470,48970,High school diploma or equivalent,1,26528,Agriculture & Natural Resources,Yes