In [1]:
import pandas as pd
import pprint as pp

In [2]:
# Read Algo input csv
Algo_input = pd.read_csv("Algo_data_input.csv")
Algo_input

    living_wage  income   debt  time_to_repay decision
0         31546   33463  17933      31.182403       No
1         33975   93355  27498       1.543617      Yes
2         22084   89911  47202       2.319725      Yes
3         31579   48767  44281       8.587580      Yes
4         29970   81802  46493       2.989980      Yes
5         23613  126377  50786       1.647334      Yes
6         26480   70467  32263       2.444889      Yes
7         32890  135635  40689       1.320064      Yes
8         28348  115271  36565       1.402199      Yes
9         34421   57350  37870       5.505401      Yes
10        31774   78064  31881       2.295744      Yes
11        31724  117420  43968       1.710232      Yes
12        28561   32302  27509      24.511271       No
13        28491   50225  41791       6.409466      Yes
14        23905   86649  31626       1.680161      Yes
15        22516   64001  26565       2.134506      Yes
16        28168   92114  25207       1.313973      Yes
17        34998  118049  16359       0.656585      Yes
18        29374   91588  49744       2.665209      Yes
19        32763   32805  35145    2789.285714       No
20        26209  105708  25046       1.050160      Yes
21        29197   92135  25418       1.346193      Yes
22        32672   82493  33859       2.265377      Yes
23        31700   46035  26535       6.170213      Yes
24        32440  103001  42611       2.012963      Yes
25        27087   41892  15127       3.405831      Yes
26        26967  105568  42207       1.789926      Yes
27        31856   92341  43086       2.374473      Yes
28        31123   54203  29850       4.311092      Yes
29        26777   71377  15864       1.185650      Yes
30        27072  118874  28865       1.048089      Yes
31        27772   67977  52129       4.321933      Yes
32        22152  109458  16750       0.639513      Yes
33        26527   59914  29966       2.991783      Yes
34        29976   89189  15169       0.853923      Yes
35        30335   66891  13896       1.267097      Yes
36        31457   92836  44939       2.440520      Yes
37        28607   58578  17640       1.961896      Yes
38        30618  109499  23016       0.972604      Yes
39        31712   59040  20568       2.508782      Yes
40        33242  134106  36468       1.205187      Yes
41        34344   92604  16244       0.929397      Yes
42        27282  108338  46318       1.904774      Yes
43        31335   54298  30750       4.463702      Yes
44        28316   94995  21172       1.058404      Yes
45        27514   34799  24069      11.013040       No
46        28744   60521  17847       1.872109      Yes
47        34223  106929  44700       2.049349      Yes
48        33504   68825  30005       2.831649      Yes
49        28128  136002  35642       1.101347      Yes

In [3]:
target = Algo_input["decision"]
target_names = ["Yes", "No"]

In [4]:
data = Algo_input.drop(["decision","time_to_repay"], axis=1)
feature_names = data.columns
data.head()

   living_wage  income   debt
0        31546   33463  17933
1        33975   93355  27498
2        22084   89911  47202
3        31579   48767  44281
4        29970   81802  46493

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

# Model Accuracy
# print('Test Acc: %.3f' % model.score(X_test, y_test))

# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

         Yes       0.67      0.67      0.67         3
          No       0.90      0.90      0.90        10

    accuracy                           0.85        13
   macro avg       0.78      0.78      0.78        13
weighted avg       0.85      0.85      0.85        13

In [6]:
def Classify(State,Major_Category,Debt):
    import pymongo

    # Create connection variable
    conn = 'mongodb://localhost:27017'

    # Pass connection to the pymongo instance.
    dbconn = pymongo.MongoClient(conn)

    # Connect to a database. Will create one if not already available.
    db = dbconn.FortunEd

    Major_data = db.Majors.find_one({"Major_Category":Major_Category})

    Income_dict = {}
    for data in Major_data["Possible_Occupations"]:
        Occ = data["Occupation"]
        income_split =data["Median_Occ_Salary"].split(",")
        income = ''.join(map(str, income_split))
        low_25_income_split =data['Low_25_Occ_Salary'].split(",")
        low_25_pct_income = ''.join(map(str, low_25_income_split))
        recommended_ed = data['Recommended_Education']
        high_25_income_split = data['High_25_Occ_Salary'].split(",")
        high_25_pct_income =''.join(map(str, high_25_income_split)) 
        Income_dict[Occ] ={"Occ":Occ,
                          "median_income":int(income),
                          "low_25_pct_income":int(low_25_pct_income),
                          "high_25_pct_income":int(high_25_pct_income),
                          "recommended_education":recommended_ed}
                           

    state_wages = db.StateWage

    state_wage_list = []
    state_wage_list = list(state_wages.find())
    result_values = [i[State] for i in state_wage_list if State in i]
    result =result_values[0]
    living_wage_split = result['living wage'].split("$")[1].split(",")
    wage_join =pd.to_numeric(''.join(map(str, living_wage_split)),errors='coerce')  



    output_df = pd.DataFrame(Income_dict.values())
    output_df.columns = ["Occupation","Median_Income","Low_25_pct_income","High_25_pct_income","Recommended_Education"]
    output_df["debt"] = Debt
    output_df["living_wage"] = wage_join
    output_df["major_category"] = Major_Category

    X = output_df.loc[:,["living_wage","Median_Income","debt"]]

    predictions = model.predict(X)
  
    output_df["decision"] = predictions
    outcome = output_df.to_dict("records")
    return outcome

Classify("Alaska","Agriculture & Natural Resources",50000)

[{'Occupation': 'First-Line Supervisors of Farming, Fishing, and Forestry Workers',
  'Median_Income': 48280,
  'Low_25_pct_income': 36940,
  'High_25_pct_income': 64000,
  'Recommended_Education': 'High school diploma or equivalent',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Agricultural Inspectors',
  'Median_Income': 45490,
  'Low_25_pct_income': 33960,
  'High_25_pct_income': 56340,
  'Recommended_Education': "Bachelor's degree",
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Animal Breeders',
  'Median_Income': 42920,
  'Low_25_pct_income': 31730,
  'High_25_pct_income': 56750,
  'Recommended_Education': 'High school diploma or equivalent',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Graders and Sorters, Agricultural Products',
  'Median_Income': 25670,
  'Low_25_pct_income': 23390,
  'High_25_pct_income': 29370,
  'Recommended_Education': 'No formal educational credential',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Agricultural Equipment Operators',
  'Median_Income': 31950,
  'Low_25_pct_income': 26410,
  'High_25_pct_income': 38730,
  'Recommended_Education': 'No formal educational credential',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Farmworkers and Laborers, Crop, Nursery, and Greenhouse',
  'Median_Income': 25440,
  'Low_25_pct_income': 23920,
  'High_25_pct_income': 29780,
  'Recommended_Education': 'No formal educational credential',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Farmworkers, Farm, Ranch, and Aquacultural Animals',
  'Median_Income': 27830,
  'Low_25_pct_income': 22580,
  'High_25_pct_income': 35420,
  'Recommended_Education': 'No formal educational credential',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Agricultural Workers, All Other',
  'Median_Income': 29590,
  'Low_25_pct_income': 23910,
  'High_25_pct_income': 39820,
  'Recommended_Education': 'No formal educational credential',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Forest and Conservation Workers',
  'Median_Income': 31770,
  'Low_25_pct_income': 25430,
  'High_25_pct_income': 36420,
  'Recommended_Education': 'High school diploma or equivalent',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Fallers',
  'Median_Income': 44650,
  'Low_25_pct_income': 35350,
  'High_25_pct_income': 61820,
  'Recommended_Education': 'High school diploma or equivalent',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Logging Equipment Operators',
  'Median_Income': 41440,
  'Low_25_pct_income': 32070,
  'High_25_pct_income': 51170,
  'Recommended_Education': 'High school diploma or equivalent',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Log Graders and Scalers',
  'Median_Income': 37280,
  'Low_25_pct_income': 29600,
  'High_25_pct_income': 46960,
  'Recommended_Education': 'High school diploma or equivalent',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'},
 {'Occupation': 'Logging Workers, All Other',
  'Median_Income': 39780,
  'Low_25_pct_income': 32470,
  'High_25_pct_income': 48970,
  'Recommended_Education': 'High school diploma or equivalent',
  'debt': 50000,
  'living_wage': 26528,
  'major_category': 'Agriculture & Natural Resources',
  'decision': 'Yes'}]