In [1]:
import pandas as pd

In [4]:
file = pd.read_excel("occupation and education.xlsx")

file

,2018 National Employment Matrix title and code,Unnamed: 1,Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
0,Chief executives,11-1011,Bachelor's degree,5 years or more,None
1,General and operations managers,11-1021,Bachelor's degree,5 years or more,None
2,Legislators,11-1031,Bachelor's degree,Less than 5 years,None
3,Advertising and promotions managers,11-2011,Bachelor's degree,Less than 5 years,None
4,Marketing managers,11-2021,Bachelor's degree,5 years or more,None
...,...,...,...,...,...
805,Refuse and recyclable material collectors,53-7081,No formal educational credential,None,Short-term on-the-job training
806,Mine shuttle car operators,53-7111,No formal educational credential,None,Short-term on-the-job training
807,"Tank car, truck, and ship loaders",53-7121,No formal educational credential,None,Short-term on-the-job training
808,"Material moving workers, all other",53-7199,No formal educational credential,None,Short-term on-the-job training
809,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN,NaN

In [5]:
del file["Typical on-the-job training needed to attain competency in the occupation"]

file

,2018 National Employment Matrix title and code,Unnamed: 1,Typical education needed for entry,Work experience in a related occupation
0,Chief executives,11-1011,Bachelor's degree,5 years or more
1,General and operations managers,11-1021,Bachelor's degree,5 years or more
2,Legislators,11-1031,Bachelor's degree,Less than 5 years
3,Advertising and promotions managers,11-2011,Bachelor's degree,Less than 5 years
4,Marketing managers,11-2021,Bachelor's degree,5 years or more
...,...,...,...,...
805,Refuse and recyclable material collectors,53-7081,No formal educational credential,None
806,Mine shuttle car operators,53-7111,No formal educational credential,None
807,"Tank car, truck, and ship loaders",53-7121,No formal educational credential,None
808,"Material moving workers, all other",53-7199,No formal educational credential,None
809,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN

In [9]:
file = file.rename(columns = {"2018 National Employment Matrix title and code": "occupation",
                      "Unnamed: 1": "code",
                      "Typical education needed for entry": "degree required",
                      "Work experience in a related occupation": "work experience required"})

file

,occupation,code,degree required,work experience required
0,Chief executives,11-1011,Bachelor's degree,5 years or more
1,General and operations managers,11-1021,Bachelor's degree,5 years or more
2,Legislators,11-1031,Bachelor's degree,Less than 5 years
3,Advertising and promotions managers,11-2011,Bachelor's degree,Less than 5 years
4,Marketing managers,11-2021,Bachelor's degree,5 years or more
...,...,...,...,...
805,Refuse and recyclable material collectors,53-7081,No formal educational credential,None
806,Mine shuttle car operators,53-7111,No formal educational credential,None
807,"Tank car, truck, and ship loaders",53-7121,No formal educational credential,None
808,"Material moving workers, all other",53-7199,No formal educational credential,None
809,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN

In [10]:
file.isnull().sum()

occupation                  0
code                        1
degree required             1
work experience required    1
dtype: int64

In [11]:
file = file.dropna()
file

,occupation,code,degree required,work experience required
0,Chief executives,11-1011,Bachelor's degree,5 years or more
1,General and operations managers,11-1021,Bachelor's degree,5 years or more
2,Legislators,11-1031,Bachelor's degree,Less than 5 years
3,Advertising and promotions managers,11-2011,Bachelor's degree,Less than 5 years
4,Marketing managers,11-2021,Bachelor's degree,5 years or more
...,...,...,...,...
804,Wellhead pumpers,53-7073,High school diploma or equivalent,Less than 5 years
805,Refuse and recyclable material collectors,53-7081,No formal educational credential,None
806,Mine shuttle car operators,53-7111,No formal educational credential,None
807,"Tank car, truck, and ship loaders",53-7121,No formal educational credential,None
808,"Material moving workers, all other",53-7199,No formal educational credential,None

In [12]:
file = file.set_index("code")

file

,occupation,degree required,work experience required
code,,,
11-1011,Chief executives,Bachelor's degree,5 years or more
11-1021,General and operations managers,Bachelor's degree,5 years or more
11-1031,Legislators,Bachelor's degree,Less than 5 years
11-2011,Advertising and promotions managers,Bachelor's degree,Less than 5 years
11-2021,Marketing managers,Bachelor's degree,5 years or more
...,...,...,...
53-7073,Wellhead pumpers,High school diploma or equivalent,Less than 5 years
53-7081,Refuse and recyclable material collectors,No formal educational credential,None
53-7111,Mine shuttle car operators,No formal educational credential,None
53-7121,"Tank car, truck, and ship loaders",No formal educational credential,None
53-7199,"Material moving workers, all other",No formal educational credential,None

In [13]:
file.to_csv("../processed/occ_degree_required.csv")